services:
  jenkins:
    build: .
    container_name: jenkins-blueocean
    restart: always
    # Sử dụng root để có toàn quyền điều khiển socket docker
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - jenkins
    volumes:
      - jenkins-data:/var/jenkins_home
      # Quan trọng: Chỉ cần mount socket, không cần mount file binary của máy chủ
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  jenkins:
    driver: bridge

volumes:
  jenkins-data: